Package: com.arthurdapaz.smartsourceprompt
Name: SmartSourcePrompt
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Grabs URL from pasteboard while adding a Cydia repository
Maintainer: Arthur da Paz <arthurdapaz@me.com>
Author: Arthur da Paz <arthurdapaz@me.com>
Section: Tweaks
Version: 0.1-40
Installed-Size: 72
